*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}
body,html{
   width: 100%;
   height: 100%;
font-family: Arial, Helvetica, sans-serif;
}
.main{
margin: 0px auto;
overflow: hidden;
}
.bg{
width: 100%;
float: left;
height: 100vh;
background-image: url("image/pexels-nextvoyage-730662.jpg");
background-size: cover;
overflow-y: scroll;
overflow-x: hidden;
}
.nav{
   width: 100%;
   height: 5vw;
   background-color: rgba(0,0,0,0.6);
   float: left;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.nav h1{
   color: rgb(9, 169, 129);
   font-size: 4vw;
   background: linear-gradient(90deg,rgb(156, 0, 0),rgb(4, 4, 115));
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-transform: uppercase;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.nav ul{
   list-style-type: none;
   overflow: hidden;
   display: block;
   justify-content: space-between;
}
.nav li{
   float: left;
   border-right: 1px solid #bbb;
   }
.nav li:last-child{
   border-right: none;
   }
.nav a{
   display: block;
   color: #fff;
   text-align: center;
   text-decoration: none;
   padding: 1.6vw 2vw;
   font-size: 1.6vw;
   transition: all .5s;
}
.nav a:hover{
   background-color: blanchedalmond;
   color: #ec4d4d;
}
.search{
   float: right;
}
.search input{
   width: 15vw;
   height: 2vw;
   margin-right: 0.3vw;
   border-radius: .8vw;
   border: 1px solid #fff;
   background-color: rgba(255,255,255,.2);
   opacity: .5;
   padding-left: 20px;
   color: #ffffff;
   font-size: 18px;
}
.search i{
   font-size: 1.5vw;
   padding-top: 0.7vw;
   margin-right: 0.3vw;
   color: #ffffff;
}
.dk{
   width: 100%;
   height: 5vw;
   float: left;
   font-size: 2vw;
   white-space: nowrap;
   display: flex;
   overflow: hidden;
}
.dk h1{
   font-weight: 100;
   animation: anim;
   animation-duration: 20s;
   animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.dk span{
   -webkit-text-stroke: .1vw black;
   color: transparent;
   font-weight: 500;
}
@keyframes anim {
   0%{
      transform: translateX(0%);
   }
   100%{
      transform: translateX(-100%);
   }
}
.img1{
   width: 100%;
   justify-content: space-between;
   display: flex;
   align-items: center;
   padding-bottom: 2vw;
}
.img1 img{
   width: 15vw;
   float: left;
   margin: 3.3vw 7vw ;
   border: .5vw solid rgba(255, 255, 255,.7);
   border-radius: 2vw;
   opacity: .9;
   transition: all .5s;
}
.img1 img:hover{
   background-color: #551b1b;
   color: rgb(54, 213, 213);
   margin-top: 2vw;
   box-shadow: 0 0 10px rgb(1, 165, 165),0 0 10px rgb(1, 165, 165),0 0 10px rgb(1, 165, 165),0 0 10px rgb(0, 160, 160);
}
.art{
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.art article{
   width: 15vw;
   height: 15vw;
   float: left;
   padding: .8vw;
   margin: 3vw 7vw;
   border: .5vw solid rgba(255, 255, 255,.7);
   border-radius: 1vw;
   font-size: 1.5vw;
   background-color: rgba(0,0,0,0.6);
   color: #efdddd;
   transition: all .2s;
   overflow-y: scroll;
   overflow-x: hidden;
   font-family: 'Times New Roman', Times, serif;
}
.und{
   width: 100%;
   margin-top: 3vw;
   justify-content: space-between;
   background-color: rgb(62, 56, 56);
   float: left ;
}
.ind{
   width: 70%;
   margin:2vw 0px 0px 0px;
   float: left;
   border-radius: 2vw;
}
.ind h3{
   padding: 0px 0px 0px 3vw;
   color: #ffffff;
}
.ind ul{
   padding: 1vw 0px 0px 3vw ;
   color: #ffffff;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ind article{
   font-size: .9vw;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.ind span{
   padding-left: 2.5vw;
}
.info{
   width: 13vw;
   height: 17vw;
   float: right;
   margin: 2vw 6vw 2vw 0px;
   padding: 1vw;
   border: .2vw solid white;
   border-radius: 2vw;
   background-image:linear-gradient(rgba(15, 147, 241, 0.7),rgba(255, 255, 255, 0.7));
}
.info form{
   font-size: 1vw;
}

.info p{
   text-align: center;
   border-bottom: .2vw solid rgba(253, 253, 253, 0.7);
   font-size: 2vw;
}
.info input{
    width: 9vw;
    height: 1.2vw;
    color: black;
    margin-bottom: -.2vw;
    font-size: 1.2vw;
    border-radius: .5vw;
}
.limg{
   width: 6vw;
   height: 6vw;
   float: left;
   border-radius: 50%;
   overflow: hidden;
   margin-left: 2.5vw;
}
.limg img{
   width: 100%;
   height: 100%;
   border-radius: 3vw;
   transform: .5s ease;
   filter: grayscale(100%);
   cursor: pointer;
}
.limg img:hover{
  transform: scale(1.1);
  filter: grayscale(0%);
}


@media (max-width:600px) {
  .bg{
   background-image: url(image/6116205237242017327_121.jpg);
   background-repeat: no-repeat;
   background-position:cover ;
  } 
  .nav{
   width: 100%;
   height: 13vw;
  }
  .nav a{
   padding: 2vw;
   font-size: 5vw;
   font-weight: 200;
  }
  .nav h1{
   font-size: 5.7vw;
  }
  .nav span{
   display: none;
  }
  .search input{
    width: 17vw;
    height: 3vw;
  }
  .search i{
   font-size: 3.5vw;
  }
  .dk{
   margin: 2vw 0vw;
  }
  .img1{
  width: 50%; 
  display: inline;
  float: left;
  }
  .img1 img{
   width: 30vw;
  }
  .art{
   width: 50%;
   float: left;
   display: inline;
  }
  .art article{
   width: 30vw;
   height: 50vw;
   font-size: 5vw;
  }
  .first article{
    margin-top: 8vw;
  }
  .second article{
   margin-top: 15vw;
   }
  .third article{
    margin-top: 15vw;
 }
 
 .ind{
   width: 100%;
 }
 .ind h3{
   padding: 4vw;
 }
 .ind article{
   font-size: 3vw;
 }
 .ind article span{
   padding-left: 4vw;
 }
 .info{
   width: 100%;
 }
 .ind ul{
   padding-left: 5vw;
 }
 .limg {
   width: 20vw;
   height: 20vw;
   border-radius: 50%;
 }
 .limg img{
  width: 100%;
  height: 100%;
 }
 .info {
   float: left;
   width: 45vw;
   height: 54vw;
   margin: 4vw;
 }
 .info p{
   padding: 3vw 3vw 1vw 3vw;
 }
 .info form{
   font-size: 3vw;
   padding: 0 2vw;
 }
 .info input{
   width: 24vw;
   height: 4vw;
   font-size: 3vw;
 }
}
